# Archivos y carpetas generados por el entorno
/node_modules
/.pnp
/.pnp.js

# Archivo de configuración de Tailwind
/tailwind.config.js

# Archivo de compilación de CSS de Tailwind
/public/css

# Archivos de desarrollo de Tailwind
/resources/css

# Archivos y carpetas generados por el entorno de desarrollo
/.cache
/public/hot
/public/storage
/storage/*.key
/vendor

# Otros archivos y carpetas generados por herramientas de construcción y entornos de desarrollo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor y archivos específicos del IDE
.idea
.vscode
*.sublime-project
*.sublime-workspace

# Archivos de registro
npm-debug.log*
yarn-debug.log*
yarn-error.log*
